<ul class="sidebar-nav">
  <li class='d-flex justify-content-around align-items-center'><i class="fas fa-columns mr-3"></i><p class="flex-grow-1 p-0 m-0">Dashboard</p></li>
  <li class='d-flex justify-content-around align-items-center'><i class="fas fa-heart mr-3"></i><p class="flex-grow-1 p-0 m-0">Favoritos</p></li>
  <li class='d-flex justify-content-around align-items-center'><i class="fas fa-book mr-3"></i><p class="flex-grow-1 p-0 m-0">Mis cursos</p></li>
  <li class='d-flex justify-content-around align-items-center'><i class="fas fa-cog mr-3"></i><p class="flex-grow-1 p-0 m-0">Configuración</p></li>
</ul>

<button class="sign-out btn btn-primary">Cerrar Sesion</button>
