<div class="cards my-3">
  <% @companies.each do |company| %>
    <%= link_to company do %>
      <div class="card-category" style="background-image: url(<%= company.image %>)">
      </div>
    <% end %>
  <% end %>
</div>
