<div class="cards my-3">
  <% @companies.each do |company| %>
    <%= link_to company do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= company.image %>)">
        <%= company.name %>
      </div>
    <% end %>
  <% end %>
</div>
