<h2>¡Felicitaciones! ¡Completaste este curso!</h2>
<%= link_to certificate_path(current_user.certificates.where(course: @course).first, format: :pdf) do %>
<h3>¡Descargá tu certificado!</h3>
<% end %>
