<div class="project">
  <h2>¡FELICITACIONES! Tu proyecto se cargó correctamente.</h2>
  <p>Nuestro equipo va a evaluar tus resultados y te daremos feedback tan pronto como hayamos terminado.</p>
</div>
