
<div class="certificate" style="background: url(<%= asset_url('certificate.svg') %>)">
  <%#= image_tag wicked_pdf_asset_base64('certificate.svg') %>
  <div class="inside">

  <h1><%= @certificate.name %></p>
  </div>
</div>
