.not-enrolled {
  p {
    font-size: 24px;
    font-family: 'Abel', sans-serif;
  }
  img.course-image {
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }

  .course-title {
    font-size: 20px;
  }

  .course-description {
    font-size: 16px;
  }
}

.enrolled {
  .quiz-title {
    font-size: 20px;
  }

  .course-video {
    display: flex;
    justify-content: center;
  }

  li {
    list-style-type: none;
    font-weight: 900;
    font-size: 18px;
  }
}

.project {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 800px;
  margin: auto;
  text-align: center;
}
