.sidebar {
  width: 230px;
  background-color: #E2E2E2;
  height: 100%;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.9);
  text-align: center;
  padding-top: 80px;
  position: fixed;
  top: 0;

  ul.sidebar-nav {
    margin: auto;
    padding: 0px 36px 0px 36px;

    li {
      margin: 12px 0px;
      text-align: left;

      a {
        color: #000000;
      }

      a:hover {
        color: rgba(0,0,0,0.8);
      }
    }
  }
}

li {
  list-style-type: none;
}

button.sign-out {
  position: relative;
  top: 50px;
}
